<h3>Dear {{name}}</h3>
<h5>You are welcome to IEP Buddy</h5>
<h6>Use the otp below to verify your account, Thank you</h6>

<h5>{{emailOtp}}</h5>
{{!-- <img src="{{imageUrl}}" alt="Signup Image" /> --}}
<p>Do not share this OTP with anyone.
</p>
<p>Thank you!"
</p>